

.btn-primary:hover {
    background-color: #81ce02;
    outline-color: #81ce02;
    border-color: #81ce02;
}

.btn-primary{
    background-color: #669500;
    outline-color: #669500;
    border-color: #669500;
}